#background{
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.row{
    padding-top: 3%;
}

.col {
    text-align: center;
}

#time{
    font-size: 100px;
    color:white;
}

ul{
    list-style: none;
}